:root {
  --colors-neutral800: #0e0e0e;
  --colors-neutral700: #161616;
  --colors-neutral600: #1d1d1d;
  --colors-neutral500: #252525;
  --colors-neutral400: #292929;
  --colors-neutral300: #2d2d2d;
  --colors-neutral200: #303030;
  --colors-neutral100: #343434;
  --colors-foreground800: #666666;
  --colors-foreground700: #858585;
  --colors-foreground600: #a3a3a3;
  --colors-foreground500: #c2c2c2;
  --colors-foreground400: #d1d1d1;
  --colors-foreground300: #e0e0e0;
  --colors-foreground200: #f0f0f0;
  --colors-foreground100: #ffffff;
  --colors-lime800: #d6fb41;
  --colors-lime700: #dcff50;
  --colors-lime600: #e3ff73;
  --colors-lime500: #eaff96;
  --colors-lime400: #f1ffb9;
  --colors-lime300: #f5ffcb;
  --colors-lime200: #f8ffdc;
  --colors-lime100: #fcffee;
  --colors-purple800: #644ed7;
  --colors-purple700: #7b61ff;
  --colors-purple600: #9581ff;
  --colors-purple500: #b0a0ff;
  --colors-purple400: #cac0ff;
  --colors-purple300: #d7d0ff;
  --colors-purple200: #e5dfff;
  --colors-purple100: #f2efff;
  --colors-vscode800: #007acc;
  --colors-vscode700: #0098ff;
  --colors-vscode600: #33adff;
  --colors-vscode500: #66c1ff;
  --colors-vscode400: #99d6ff;
  --colors-vscode300: #b3e0ff;
  --colors-vscode200: #cceaff;
  --colors-vscode100: #e6f5ff;
  --colors-red800: #eb5e5e;
  --colors-red700: #ed6c6c;
  --colors-red600: #ef7a7a;
  --colors-red500: #f08787;
  --colors-red400: #f29595;
  --colors-red300: #f39c9c;
  --colors-red200: #f3a2a2;
  --colors-red100: #f5b0b0;
  --colors-green800: #5ac249;
  --colors-green700: #6fec5b;
  --colors-green600: #8cf07c;
  --colors-green500: #a9f49d;
  --colors-green400: #c5f7bd;
  --colors-green300: #d4f9ce;
  --colors-green200: #e2fbde;
  --colors-green100: #f1fdef;
  --colors-orange800: #ec775b;
  --colors-orange700: #ee8269;
  --colors-orange600: #f08d77;
  --colors-orange500: #f19985;
  --colors-orange400: #f3a492;
  --colors-orange300: #f4aa99;
  --colors-orange200: #f4b0a0;
  --colors-orange100: #f6bbae;
  --colors-blue800: #054491;
  --colors-blue700: #075ac1;
  --colors-blue600: #0971f1;
  --colors-blue500: #3a8df4;
  --colors-blue400: #6baaf7;
  --colors-blue300: #9dc6f9;
  --colors-blue200: #b5d4fb;
  --colors-blue100: #cee3fc;
  --colors-yellow800: #d0aa52;
  --colors-yellow700: #f7cc66;
  --colors-yellow600: #f9d685;
  --colors-yellow500: #fae0a3;
  --colors-yellow400: #fcebc2;
  --colors-yellow300: #fdf0d1;
  --colors-yellow200: #fdf5e0;
  --colors-yellow100: #ffffff;
  --font-inter: "Inter", sans-serif;
  --font-TWKEverest-Medium: "TWKEverest-Medium", sans-serif;
  --primary-font: "primary-font", sans-serif; }

@font-face {
  font-family: "Inter";
  src: url(fonts/Inter.woff) format("woff"); }

@font-face {
  font-family: "TWKEverest-Medium";
  src: url(fonts/TWKEverest-Medium.woff2) format("woff2"); }

@font-face {
  font-family: "primary-font";
  src: url(fonts/font2.woff2) format("woff2"); }

@keyframes moveDiagonal {
  from {
    transform: translate3d(0, 0, 0);
    /* Start from bottom-left corner */ }
  to {
    transform: translate3d(75%, -75%, 0);
    /* Move to top-right corner */ } }

/* Animation delay for each character */
@keyframes charAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes rotate {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0); } }

@keyframes marquee {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-100%); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: var(--colors-neutral800);
  opacity: 0; }

.pageMain {
  max-width: 1600px; }

.paused {
  animation-play-state: paused !important; }

.featured {
  display: flex;
  overflow: hidden; }
  .featured .featuredContainer {
    animation: marquee 100s linear infinite; }
    .featured .featuredContainer .featuredBox {
      display: flex;
      align-items: center;
      flex-wrap: nowrap; }
      .featured .featuredContainer .featuredBox .featuredLink {
        text-decoration: none;
        font-family: var(--primary-font);
        font-size: 1.8rem;
        color: var(--colors-foreground200);
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 3rem 4rem; }
        .featured .featuredContainer .featuredBox .featuredLink .svgIcon svg {
          height: 3rem;
          width: 3rem; }
        .featured .featuredContainer .featuredBox .featuredLink .iconText {
          white-space: nowrap; }
        .featured .featuredContainer .featuredBox .featuredLink:hover {
          opacity: 1; }
  .featured:hover .featuredContainer {
    animation-play-state: paused; }
  .featured:hover .featuredLink {
    opacity: 0.4; }

/* Header Styles */
.header {
  background-color: var(--colors-neutral700);
  border-bottom: 1px solid var(--colors-neutral600);
  position: relative;
  z-index: 200000; }
  .headerContainer {
    display: flex;
    align-items: center;
    padding: 1.2rem 11rem; }
    .headerContainer .headerIconContainer {
      margin-right: 4rem; }
      .headerContainer .headerIconContainer .iconLink {
        /* Your styles here */ }
        .headerContainer .headerIconContainer .iconLink .iconBox .svgIcon {
          height: 24px;
          width: 24px;
          transition: all 0.2s ease-in; }
          .headerContainer .headerIconContainer .iconLink .iconBox .svgIcon:hover {
            opacity: 0.8; }
  .header .nav {
    /* Your styles here */ }
    .header .nav .navContainer {
      /* Your styles here */ }
      .header .nav .navContainer .navList {
        display: flex;
        gap: 24px;
        list-style: none; }
        .header .nav .navContainer .navList .navItem {
          /* Your styles here */ }
          .header .nav .navContainer .navList .navItem .navLink {
            text-decoration: none;
            color: var(--colors-foreground100);
            font-size: 1.2rem;
            font-family: var(--primary-font);
            opacity: 0.5;
            transition: all 0.2s ease-in; }
            .header .nav .navContainer .navList .navItem .navLink:hover {
              opacity: 0.9; }
  .header .signInBox {
    margin-left: auto; }
    .header .signInBox .signInList {
      display: flex;
      gap: 24px;
      list-style: none; }
      .header .signInBox .signInList .signInItem {
        /* Your styles here */ }
        .header .signInBox .signInList .signInItem .signInLink {
          text-decoration: none;
          color: var(--colors-foreground100);
          font-size: 1.2rem;
          font-family: var(--primary-font);
          opacity: 0.5;
          transition: all 0.2s ease-in; }
          .header .signInBox .signInList .signInItem .signInLink:hover {
            opacity: 0.9; }
        .header .signInBox .signInList .signInItem #trybtn {
          padding: 6px 12px;
          border-radius: 4px;
          background-color: var(--colors-lime500);
          opacity: 1;
          color: var(--colors-neutral700);
          transition: all 0.2s ease-in; }
          .header .signInBox .signInList .signInItem #trybtn:hover {
            background-color: var(--colors-lime300); }

/* Hero Styles */
.hero {
  background-image: var(--colors-neutral700);
  position: relative;
  width: 100%;
  /* Set width to 100% */
  height: 100vh;
  min-height: calc( 100vh + 114px);
  /* Adjusted height to account for
    navigation */
  overflow: hidden;
  /* Added overflow property */
  z-index: 10;
  border-bottom: 1px solid var(--colors-neutral600); }
  .hero .bgImageBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .hero .bgImageBox .bgImage {
      position: absolute;
      width: 100%;
      height: 100%;
      /* Set height to 100% */
      top: 0;
      /* Adjust top position */
      left: 0;
      object-fit: cover;
      object-position: center center;
      color: transparent; }
  .heroContainer {
    position: relative;
    z-index: 100;
    text-align: center; }
    .heroContainer .heroTextContainer {
      margin-top: 6rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4rem;
      max-width: 55rem;
      margin-inline: auto; }
      .heroContainer .heroTextContainer .headingTextBox {
        /* Your styles here */ }
        .heroContainer .heroTextContainer .headingTextBox .headingText {
          font-family: var(--font-TWKEverest-Medium);
          font-size: 16rem;
          line-height: 0.8;
          letter-spacing: -8px;
          color: var(--colors-foreground100); }
          .heroContainer .heroTextContainer .headingTextBox .headingText .line1 {
            -webkit-text-stroke: 1px var(--colors-lime800);
            color: transparent; }
          .heroContainer .heroTextContainer .headingTextBox .headingText .line2 {
            -webkit-text-stroke: 1px var(--colors-lime600);
            color: transparent; }
          .heroContainer .heroTextContainer .headingTextBox .headingText .line3 {
            -webkit-text-stroke: 1px var(--colors-lime400);
            color: transparent; }
          .heroContainer .heroTextContainer .headingTextBox .headingText .char {
            visibility: hidden; }
      .heroContainer .heroTextContainer .paraBox .paraText {
        font-family: var(--primary-font);
        font-size: 2.6rem;
        font-weight: 500;
        color: var(--colors-foreground200); }
      .heroContainer .heroTextContainer .linkContainer {
        /* Your styles here */ }
        .heroContainer .heroTextContainer .linkContainer .linkBox {
          display: flex;
          justify-content: space-between; }
          .heroContainer .heroTextContainer .linkContainer .linkBox .createlink {
            text-decoration: none;
            font-family: var(--primary-font);
            font-size: 2.6rem;
            color: var(--colors-lime600);
            transition: all 0.3s ease-in; }
            .heroContainer .heroTextContainer .linkContainer .linkBox .createlink:hover .text {
              text-decoration: underline;
              text-decoration-color: var(--colors-lime400);
              color: var(--colors-lime400); }
            .heroContainer .heroTextContainer .linkContainer .linkBox .createlink .icon {
              /* Your styles here */ }
              .heroContainer .heroTextContainer .linkContainer .linkBox .createlink .icon .svgIcon {
                height: 2rem;
                width: 2rem; }
            .heroContainer .heroTextContainer .linkContainer .linkBox .createlink .text {
              /* Your styles here */ }
