.animation {
  .animationContainer {
    overflow: hidden;
    background: black !important;
    height: 100vh;
    // border: 2px solid red;

    .circleBox {
      display: flex;
      justify-content: center;
      align-items: center;

      @media only screen and (max-width: $bp-largest) {
        display: none;
      }

      .circleAnimation {
        width: 100vh;
        height: 100vh;
        transform: scale(3);

        .imageBox {
          width: 100vh;
          height: 100vh;
          position: fixed;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);

          &:nth-child(1) {
            z-index: 0;
            opacity: 1;
          }

          &:nth-child(2) {
            z-index: -1;
            opacity: 0;
          }

          &:nth-child(3) {
            z-index: -2;
            opacity: 0;
          }

          &:nth-child(4) {
            z-index: -3;
            opacity: 0;
          }

          &:nth-child(5) {
            z-index: -4;
            opacity: 0;
          }

          &:nth-child(6) {
            z-index: -5;
            opacity: 0;
          }

          &:nth-child(7) {
            z-index: -6;
            opacity: 0;
          }

          &:nth-child(8) {
            z-index: -7;
            opacity: 0;
          }

          &:nth-child(9) {
            z-index: -8;
            opacity: 0;
          }

          &:nth-child(10) {
            z-index: -9;
            opacity: 0;
          }

          .image {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            object-fit: cover;
            color: transparent;
          }
        }
      }
    }

    .squareBox {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media only screen and (max-width: $bp-largest) {
        display: none;
      }

      .squareAnimation {
        width: 30rem;
        height: 30rem;
        transform: scale(1.8);

        .squareImageBox {
          width: 30rem;
          height: 30rem;
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          &:nth-child(1) {
            z-index: 0;
            opacity: 1;
          }

          &:nth-child(2) {
            z-index: -1;
            opacity: 1;
          }

          &:nth-child(3) {
            z-index: -2;
            opacity: 1;
          }

          &:nth-child(4) {
            z-index: -3;
            opacity: 1;
          }

          &:nth-child(5) {
            z-index: -4;
            opacity: 1;
          }

          &:nth-child(6) {
            z-index: -5;
            opacity: 1;
          }

          &:nth-child(7) {
            z-index: -6;
            opacity: 1;
          }

          &:nth-child(8) {
            z-index: -7;
            opacity: 1;
          }

          &:nth-child(9) {
            z-index: -8;
            opacity: 1;
          }

          &:nth-child(10) {
            z-index: -9;
            opacity: 1;
          }

          &:nth-child(11) {
            z-index: -10;
            opacity: 1;
          }

          &:nth-child(12) {
            z-index: -11;
            opacity: 1;
          }

          &:nth-child(13) {
            z-index: -12;
            opacity: 1;
          }

          &:nth-child(14) {
            z-index: -13;
            opacity: 1;
          }

          &:nth-child(15) {
            z-index: -14;
            opacity: 1;
          }

          &:nth-child(16) {
            z-index: -15;
            opacity: 1;
          }

          .squareImage {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            object-fit: cover;
            color: transparent;
          }
        }
      }
    }

    .cloudTextBox1 {
      position: relative;
      z-index: -1;

      .cloudTextBox2 {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;

        .cloudTextBox3 {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;

          .textHeading {
            font-family: var(--font-TWKEverest-Medium);
            font-size: 12rem;
            color: var(--colors-foreground200);
            letter-spacing: -4px;
            transform: scale(1.1);

            .word1 {
              opacity: 0;
            }

            .word2 {
              opacity: 0;
            }

            .word3 {
              opacity: 0;
            }
          }
        }
      }
    }

    .codePictureBox1 {
      position: relative;
      height: 100vh;
      z-index: -1;
      opacity: 0;

      .codePictureBox2 {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        padding: 0 12rem;

        .codePictureBox3 {
          .codeImage {
            color: transparent;
            width: 100%;
            height: auto;
            border-radius: 3px;
          }
        }
      }
    }

    .microBox1 {
      position: fixed;
      z-index: -1;
      height: 100vh;
      width: 100%;
      left: 0;
      top: 0;
      opacity: 0;

      .microBox2 {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 57%;
        height: 100%;
        transform: translate(-50%, -50%);
        text-align: center;

        .microBox3 {
          min-height: 100vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 4rem;
          transform: translateY(10%);

          .microImgBox {
            width: 25rem;
            height: 25rem;

            .microImg {
              width: 100%;
              height: auto;
              color: transparent;
            }
          }

          .microPara {
            font-family: var(--primary-font);
            font-size: 3.6rem;
            color: var(--colors-foreground200);
            font-weight: 500;
          }
        }
      }
    }

    .anyBox1 {
      position: relative;
      height: 100vh;
      z-index: -1;
      opacity: 0;

      .bottomLine {
        will-change: transform, opacity;
        display: block;
        transform: scaleX(0);
        opacity: 0;

        &::after {
          content: "";
          width: 1000px;
          height: 2px;
          background: linear-gradient(
            90deg,
            rgba(123, 97, 255, 0) 0%,
            rgb(123, 97, 255) 49.48%,
            rgba(123, 97, 255, 0) 100%
          );
          will-change: transform;
          position: fixed;
          top: 60%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .anyBox2 {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 1;
        width: 100%;
        height: 100%;

        .anyBox3 {
          min-height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;

          .anyText {
            font-family: var(--font-TWKEverest-Medium);
            font-size: 12rem;
            color: var(--colors-foreground200);
            font-weight: 600;

            .anyText1 {
              display: inline-block;
              transform: translateX(100px);
              opacity: 0;
              letter-spacing: 0.8;
            }

            .anyText2 {
              display: inline-block;
              transform: translateX(100px);
              opacity: 0;
            }
          }
        }
      }
    }

    .downloadBox1 {
      position: relative;
      height: 100vh;
      z-index: -1;
      opacity: 0;

      .downloadBox2 {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        max-width: 120rem;
        margin-inline: auto;

        .downloadBox3 {
          width: 100%;
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8vw;
          transform: translateY(20%);

          .dlImageBox {
            width: 60%;

            .dlImg {
              width: 100%;
              height: auto;
            }
          }

          .dlParaBox1 {
            width: 30%;

            .dlParaBox2 {
              display: flex;
              flex-direction: column;
              gap: 4rem;

              .dlParaText {
                font-family: var(--primary-font);
                font-weight: 600;
                font-size: 3rem;
                color: var(--colors-foreground200);
              }

              .dlLinkBox {
                display: flex;
                flex-direction: column;
                gap: 2rem;

                .dlLink {
                  text-decoration: none;
                  font-family: var(--primary-font);
                  font-weight: 600;
                  color: var(--colors-lime700);
                  font-size: 2rem;
                  transition: all 0.2s ease-out;

                  &:hover {
                    text-decoration: underline;
                    color: var(--colors-lime500);
                  }

                  .text {
                  }

                  .icon {
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
